.chartjs-tooltip {
  background: #fff !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  color: #000 !important;
}

.chartjs-tooltip .chartjs-tooltip-key {
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
}
